[mysqldb-config]
host=13.126.247.173
user=nqdba
password=NyQTDB*#001
port=3306
database=nqicon_db
objconnection=None

[mongodb-config]
parameter=mongodb://13.126.247.173:27017/

[server-config]
servertype=LV
serverport=8788
no-of-records=20
calibrationsyncword=0XCC
commonflag_address=0xFE7F
statechange_address=0xFE38
ftexittime_address=0xFE3D
solarenergy_address=0xFE3F
loadbucket_address=0xFE47
solarbucket_address=0xFF76
useablesoc_address=0xFE1A
vftexit_address=0xFE1F
newserverip=3.7.33.233
newserverport=8788
CONFIG_FIRM_START_ADDR=0xFF00
WRITE_FW_ID=0x0C
